@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mp2wn3');
  src:  url('fonts/icomoon.eot?mp2wn3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mp2wn3') format('truetype'),
    url('fonts/icomoon.woff?mp2wn3') format('woff'),
    url('fonts/icomoon.svg?mp2wn3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e907";
}
.icon-bag:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-add:before {
  content: "\e900";
}
.icon-card-like-active:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e902";
}
