.wrapper{
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 85px;
    background-color: #fff;
    border-radius: 20px;
}
//________  HEADER  _______

//________  CONTENT  _______

//________  CONTENT TOP _______
.content{
    padding: 37px 60px;
    &Top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &Title{
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
        }
    }
}

.contentForm{
    display: flex;
    align-items: center;
    width: 250px;
    height: 45px;

    border: 1px solid #F3F3F3;
    border-radius: 10px;
    &Btn{
        margin-left: 15px;
        width: 17px;
        height: 17px;

        font-size: 14px;
        color: #E4E4E4;
        transition: .3s;
        &:hover{
            color: #a8a8a8;
        }
    }
    &Input{
        width: 100%;
        margin-left: 13px;
        padding-right: 15px;
        border: none;
        outline: none;
    }
}

//________  CONTENT BOTTOM _______

.contantMain{
    display: grid;
    grid-template-columns: repeat(4, 210px);
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}



//________  DRAWER _______
